/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.container:before,
.navigation:before,
.landing-header:before,
.container:after,
.navigation:after,
.landing-header:after {
    content: " ";
    display: table;
}

.container:after,
.navigation:after,
.landing-header:after {
    clear: both;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FONTS
   ------------------------ */

@font-face {
    font-family: 'Brown-Light';
    src: url('../fonts/Brown-Light_gdi.eot');
    src: url('../fonts/Brown-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brown-Light_gdi.woff') format('woff'),
    url('../fonts/Brown-Light_gdi.ttf') format('truetype'),
    url('../fonts/Brown-Light_gdi.svg#Brown-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'232MKSDRoundLight-Regular';
    src: url('../fonts/232MKSDRoundLight_gdi.eot');
    src: url('../fonts/232MKSDRoundLight_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/232MKSDRoundLight_gdi.woff') format('woff'),
    url('../fonts/232MKSDRoundLight_gdi.ttf') format('truetype'),
    url('../fonts/232MKSDRoundLight_gdi.svg#232MKSDRoundLight-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

/* BORDERS
   ------------------------ */

.border {
    position: fixed;
    background-color: #111111;
    z-index: 9999;
}

.border-left {
	height: 100%;
	width: 9px;
	left: 0;
}

.border-right {
	height: 100%;
	width: 9px;
	right: 0;
}

.border-top {
	height: 9px;
	width: 100%;
	top: 0;
}

.border-bottom {
	height: 9px;
	width: 100%;
    bottom: 0;
}

/* LOGO/TITLE
   ------------------------ */

.landing-logo {
    background: url('../img/logo.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 50%;
    margin-left: -30px;
}

@media (max-width: 700px) {
    .landing-logo {
        width: 50px;
        height: 50px;
    }
}

.separator {
    background: url('../img/zigzag.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    position: fixed;
    height: 23px;
    width: 178px;
    left: 50%;
    margin-left: -89px;
}

.separator-top {
    top: 100px;
}

.separator-bottom {
    top: 280px;
}

@media (max-width: 700px) {
    .separator {
        height: 17px;
        width: 136px;
        margin-left: -68px;
    }

    .separator-top {
        top: 80px;
    }

    .separator-bottom {
        top: 186px;
    }
}

.landing-title {
    display: block;
    position: fixed;
    height: 50px;
    width: 300px;
    top: 155px;
    left: 50%;
    margin-left: -150px;
}

.landing-title h2 {
    font-family: '232MKSDRoundLight-Regular', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 48px;
    margin: 0;
    line-height: 1.1em;
}

@media (max-width: 700px) {
    .landing-title {
        top: 112px;
    }

    .landing-title h2 {
        font-size: 30px;
    }
}

.landing-slide {
	width: 100%;
	/* exact value doesn't matter */
	height: 940px;
	overflow: hidden;
	background: url('../img/landing.jpg');	
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ==========================================================================
   HEADER / NAVIGATION
   ========================================================================== */

.landing-header {
	width: 100%;
	background: #111111; 
	margin-bottom: 0; 
	z-index: 999;
    display: block;
    color: #ffffff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navigation {
    list-style: none;
    width: 100%;
    float: right;
    margin: 0;
}

.navigation > li,
.navigation > li > a {
    font-family: 'Brown-Light', sans-serif;
    letter-spacing: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
}

.navigation > li {
	padding-top: 35px;
	padding-bottom: 35px;
}

.navigation > li > a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .navigation > li,
    .navigation > li > a {
        font-size: 14px;
    }

    .navigation > li {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 700px) and (orientation: landscape) {
    .navigation > li {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.navigation  > li > a:hover,
.navigation  > li > a:focus {
  	color: #cccccc;
    text-decoration: underline;
}
